<div class="all-footer">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-flex flex-column">
          <h3>Contáctanos</h3>

          <div class="contact-info">
            <div class="d-flex">
              <i class="bi bi-telephone me-2"></i>
              <p class="mb-0">3222378969</p>
            </div>
            <div class="d-flex">
              <i class="bi bi-envelope me-2"></i>
              <p class="mb-0"></p>
            </div>
            <div class="d-flex">
              <i class="bi bi-geo-alt me-2"></i>
              <p class="mb-0">Av. Siempre Viva 123</p>
            </div>
            <div class="d-flex">
              <i class="bi bi-clock me-2"></i>
              <p class="mb-0">Lunes - Viernes de 9:00 a 18:00</p>
            </div>
          </div>
        </div>

        <div class="information col-md-4 d-flex flex-column">
          <h3>Información</h3>
          <div class="contact-info">
            <div class="d-flex ">
              <i class="bi bi-chevron-right me-2"></i>
              <a [routerLink]="['/about']" class="mb-0">Quienes somos</a>
            </div>
            <div class="d-flex  ">
              <i class="bi bi-chevron-right me-2"></i>
              <a class="mb-0" [routerLink]="['/history']">Nuestra historia</a>
            </div>
            <div class="d-flex  ">
              <i class="bi bi-chevron-right me-2"></i>
              <a href="" class="mb-0">Nuestro equipo</a>
            </div>
            <div class="d-flex   ">
              <i class="bi bi-chevron-right me-2"></i>
              <a [routerLink]="['/politic']" class="mb-0">Términos y condiciones</a>

            </div>
          </div>
        </div>

        <div class="col-md-4 ">

          <div class="social-links ">
            <h3>Síguenos en redes sociales
            </h3>
            <a href="">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="https://www.instagram.com/andrey0___/" id="insta"><i
              class="bi bi-instagram"></i>
            </a>
            <a href="https://x.com/Andrey0___" aria-label="Síguenos en Twitter">
              <i class="bi bi-twitter-x"></i>
            </a>

            <a href="">
              <i class="bi bi-whatsapp"></i>
            </a>
            <a href="https://youtube.com/@jhonyandreyburgavelasco248?si=51iTPC8TJDkJxdgD"><i
              class="bi bi-youtube"></i></a>
          </div>
        </div>

      </div>
    </div>

  </footer>

  <!-- Derechos de autor -->
  <div class="derechos">
    <p>Copyright © 2021 SweetCol. Todos los derechos reservados.</p>
  </div>
</div>
