<app-navbar></app-navbar>


<div class="container">
  <div class="row " style="text-align: center;">


    <div class="col-md-4 mb-3">
      <div class="card">
        <img [ngSrc]="cardPhoto1" width="414" height="350">
        <div class="card-body">
          <h5 class="card-title
                        "> {{ cardTitle1 }}</h5>
          <p class="card-text"> {{ cardText1 }}

          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3 ">
      <div class="card">
        <img [ngSrc]="cardPhoto1" width="414" height="350">
        <div class="card-body">
          <h5 class="card-title
                        ">{{ cardTitle2 }}</h5>
          <p class="card-text">{{ cardText2 }} </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="card">
        <img [ngSrc]="cardPhoto1" width="414" height="350">

        <div class="card-body">
          <h5 class="card-title
                        ">{{ cardTitle3 }}</h5>
          <p class="card-text">{{ cardText3 }}</p>
        </div>
      </div>
    </div>

  </div>
</div>


<app-footer></app-footer>
